<section class="testimonials">
  <div class="container">
    <div class="testimonials-header">
      <span>Trusted by Industry Leaders</span>
    </div>

    <div class="testimonial-card">
      <!-- 1. Thomas -->
      <div class="testimonial-card-content active">
        <p class="testimonial-card-quote">"As one of MMI's most valued content creators, Bill has brought creativity and thoughtfulness to our joint projects. His perspective, nuance, intelligence, and ability to quickly pivot have been incredibly valuable to our team as we work together to produce meaningful copy around financial disaster recovery topics and other complex financial issues. I would highly recommend Bill to anyone looking to broaden their perspective with high-quality thought leadership and SME content."</p>
        <p class="testimonial-card-author">Thomas Nitzsche</p>
        <p class="testimonial-card-title">Director of Media & Brand, Money Management International</p>
      </div>

      <!-- 2. Marshall -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Most leaders have an exceptional story to share, but not everyone knows how to communicate that story in an effective way. That's where Bill comes in. He has a unique superpower to understand my story and turn my message into beautiful words to share with the world in a way that's far beyond anything I could write myself. My only regret is not knowing Bill earlier! ...Especially in my high school English classes to help with all of my horribly written essays!"</p>
        <p class="testimonial-card-author">Marshall Mosher</p>
        <p class="testimonial-card-title">CEO & Co-founder, Vestigo</p>
      </div>

      <!-- 3. Dana -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill is a true professional with a good understanding of complex topics, including technology products. We highly recommend him to anyone looking for quality content delivered on time."</p>
        <p class="testimonial-card-author">Dana Cogan</p>
        <p class="testimonial-card-title">Partner, Carabiner Communications</p>
      </div>

      <!-- 4. Jenna -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill has been a tremendous asset to our company. We truly appreciate him for his professionalism coupled with his immaculate attention to detail. Our clients love Bill's work and now even request him by name!"</p>
        <p class="testimonial-card-author">Jenna Guarneri</p>
        <p class="testimonial-card-title">President, JMG Public Relations</p>
      </div>

      <!-- 5. Kathy -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"As a constantly busy PR and marketing manager, I work with business writers who I can rely on for delivering consistently high-quality content as well as being deadline-driven and professional. Bill exceeds these requirements ten-fold and creates true business value in the overall work I provide to clients. I highly recommend him as a collaborative team member and intelligent content creator."</p>
        <p class="testimonial-card-author">Kathy Berardi</p>
        <p class="testimonial-card-title">PR & Marketing Consultant</p>
      </div>

      <!-- 6. Sid -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill sets the standard for exceptional writing and client service. He consistently delivers thought-provoking content that engages readers and drives brand goals. Dependable, knowledgeable, and personable, he perseveres through difficult projects and improves continuously. Most importantly, Bill cares about solving his client's problems and offers significant business value."</p>
        <p class="testimonial-card-author">Sid Khaitan</p>
        <p class="testimonial-card-title">SK Consulting</p>
      </div>

      <!-- 7. Andrea -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"I hired lots of people for different things and Bill is a stand out. Good communicator, competent, collaborative and smart. He goes the extra mile. I don't hand out compliments easily or quickly but Bill deserves my praise."</p>
        <p class="testimonial-card-author">Andrea Hoffman</p>
        <p class="testimonial-card-title">Founder & CEO, Culture Shift Labs</p>
      </div>

      <!-- 8. Iryna -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill's approach to writing our product blog is something I haven't seen on upwork before. I love the detailed outline he presented before writing the article. When I saw it I had no doubt the blog would turn out just as planned. And I was right - the result was impeccable!"</p>
        <p class="testimonial-card-author">Iryna Slabodchykava</p>
        <p class="testimonial-card-title">Content Strategy Manager, OneRep</p>
      </div>

      <!-- 9. Jackie -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill is an extremely talented writer with a unique and creative edge in a wide variety of topics. He is personable, patient, and timely, and I am grateful to have had the opportunity to work with him. I truly enjoy reading his original articles and find his extensive knowledge and touch of humor to be very refreshing."</p>
        <p class="testimonial-card-author">Jackie Losey</p>
        <p class="testimonial-card-title">Head of Marketing & Business Development</p>
      </div>

      <!-- 10. Orian -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill is a highly dependable, super-communicative writer who deeply understands content and has both the reader and clients' best interests in mind. It's always a pleasure to work with him."</p>
        <p class="testimonial-card-author">Orian Tal</p>
        <p class="testimonial-card-title">PR Professional</p>
      </div>

      <!-- 11. Sergey -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill is a very resourceful writer. He delivers outstanding results under tight deadlines. Bill's ability to conduct a research and get himself familiar with the new topics and concepts is phenomenal. It's truly a pleasure working with him."</p>
        <p class="testimonial-card-author">Sergey Vasin</p>
        <p class="testimonial-card-title">COO, Blackmoon Financial Group</p>
      </div>

      <!-- 12. April -->
      <div class="testimonial-card-content">
        <p class="testimonial-card-quote">"Bill is one of the best freelancers I have ever worked with. He has been extremely flexible and receptive to all types of feedback. There is never any question of Bill missing a deadline. His communication about his work is prompt. His writing is intelligent and interesting. I would highly recommend him for anyone looking for a fabulous freelancer!"</p>
        <p class="testimonial-card-author">April Gibs</p>
        <p class="testimonial-card-title">Founder, Ravenwood Education</p>
      </div>

      <div class="testimonial-dots" id="testimonial-dots"></div>
    </div>
  </div>
</section>
